/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbars más estéticos para Webkit (Chrome, Safari) */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.dark ::-webkit-scrollbar-track {
    background: #2d3748; /* gray-800 */
}
.dark ::-webkit-scrollbar-thumb {
    background: #4a5568; /* gray-600 */
}
.dark ::-webkit-scrollbar-thumb:hover {
    background: #718096; /* gray-500 */
}